<h1>尚、この画像は自動的に消滅する。</h1>
<p>
このページは時限機能付き画像アップローダーです。<br />
期限が来るまで、端の方から少しずつ画像が消えていきます。
</p>
<div class="uploadblock">
	<form name="sendimg" method="post" action="/upload" enctype="MULTIPART/FORM-DATA">
		<span>画像をアップロードする</span><br />
		<input type="file" name="file" accept="image/jpeg,image/png" size="20" /><br />
		<br />
		画像消滅までの時間<br />
		<select name="timelimitmin">
			<option value="60">1時間</option>
			<option value="180" selected>3時間</option>
			<option value="360">6時間</option>
			<option value="720">12時間</option>
			<option value="1440">24時間</option>
		</select>
		<br />
		<br />
		画像の消え方<br />
		<select name="banishingtype">
			<option value="0">下から消えて行く</option>
			<option value="1">上から消えて行く</option>
			<option value="2">左から消えて行く</option>
			<option value="3">右から消えて行く</option>
		</select>
		<br />
		<br />
		コメント<br />
		<textarea name="comment" maxlength="1000" cols="40" rows="4"></textarea><br />
		<br />
		削除パスワード(投稿の削除に必要になります)<br />
		<input type="password" name="deletepassword" size="30" maxlength="30" />
		<br />
		<input type="submit" value="SUBMIT" /><br />
	</form>
</div>

<hr />

<div class="imglist">
	<% @imglist.each do |imgdata| %>
		<div class="imgdata">
			ID&nbsp;:&nbsp;<%= imgdata["id"] %>&nbsp;
			originalname&nbsp;:&nbsp;<%= imgdata["originalfilename"] %><br />
			<a href="/view/<%= imgdata["id"] %>">
				<img src="<%= "thumbs/thumb_" + imgdata["imagefilename"] %>" width="80" height="80" />
			</a>
			<p>
				<%= (h imgdata["comment"]).gsub(/\n/, '<br/>') %>
			</p>
			<p>
				投稿日時：<%= imgdata["posttime"] %><br />
				消滅予定時刻：<%= imgdata["limittime"] %><br />
				完全消滅まで：<%= imgdata["leftminutes"] %>分
			</p>
			<form name="deleteimg" method="post" action="/delete">
				<input type="hidden" name="id" value="<%= imgdata["id"] %>" />
				削除パスワード<br />
				<input type="password" name="deletepassword" size="30" maxlength="30" />
				<input type="submit" value="削除" />
			</form>
		</div>
		<hr />
	<% end %>
</div>
